.h {
    text-align: center;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}

.h_dop {
    color: white;
    font-size: 2.5rem;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.header_video {
    width: 100%;
    object-fit: cover;
    height: 430%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.name {
    font-family: 'Electrolize';
    font-size: 3.5rem;
    text-align: center;
    color: white;
}

.link {
    background: rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    border: black solid 2px;
    transition: 0.5s ease-in-out;
    margin: 3px;
    padding: 5px;
    width: 90%;
    display: block;
}

.link:hover {
    background: rgba(255, 196, 0, 0.7);
}

.header_img {
    width: 50%;
    display: block;
    margin: 50px auto;
    border: solid 5px black;
    border-radius: 50%;
    background: rgba(54, 39, 39, 0.6);
    transition: 3s ease-in-out;
}

.header_img:hover {
    transform: scale(1.15);
    border-radius: 10%;
    background: rgba(54, 39, 39, 0.3);
}

.art {
    width: 100%;
    margin: 4px;
    border: 2px solid black;
    border-radius: 10px;
    background: rgb(158, 168, 83);
    padding: 15px;
    transition: 0.75s ease-in-out;
}

.art_text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4rem;
}

.slogan {
    font-family: 'Electrolize';
    font-size: 1.5rem;
    text-align: center;
}

#about_us {
    position: relative;
    padding: 10px;
}

.bg_pic_1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gallery {
    background: rgb(101, 105, 97);
    padding: 5px;
}

.gallery_img {
    margin: 2px;
    width: 88%;
    height: 45vh;
    border: 5px solid black;
    border-radius: 500px;
    object-fit: cover;
    transition: 2s ease-in-out;
}

.gallery_img:hover {
    border-radius: 50px;
    border: 2px solid white;
    transform: scale(1.1);
}

.platfromers_page {
    background-color: rgb(80, 80, 80);
    border-top: 3px solid black;
    padding: 10px;
}

.platfromers_art {
    width: 90%;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    background: rgb(140, 187, 78);
    padding: 8px;
    transition: 0.75s ease-in-out;
}

.platformers_img {
    background: url("https://cdn.pixabay.com/photo/2018/08/26/08/16/mario-3631666_960_720.png") 50% / cover no-repeat;
    width: 60vw;
    height: 40vw;
    border-radius: 10%;
    margin: auto;
    border: 3px solid black;
}

.plaftromers_link {
    display: block;
    height: 100%;
}

.yes {
    color: green;
    text-decoration: none;
}

.no {
    color: red;
    text-decoration: none;
}

@media (min-width: 1024px) {
    .header_video {
        width: 100%;
        height: 150%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .menu {
        width: 80%;
    }

    .link {
        font-size: 2rem;
        width: 45%;
        border: 5px black solid;
    }

    .art {
        width: 45%;
        background: rgba(85, 94, 12, 0.8);
        margin: 10px;
    }

    .art:hover {
        background: rgb(158, 168, 83);
    }

    .gallery_img {
        margin: 4px;
        width: 29%;
        height: 45vh;
        border: 15px solid black;
        border-radius: 500px;
        object-fit: cover;
        transition: 3s ease-in-out;
    }
    
    .gallery_img:hover {
        border-radius: 50px;
        border: 2px solid white;
    }

    .anim1:hover {
        transform: scale(1.5) translate(400px, 200px);
    }
    
    .anim2:hover {
        transform: scale(1.5) rotate(360deg) translate(0, 200px);
        height: 50vh;
    }
    
    .anim3:hover {
        transform: scale(1.5) translate(-400px, 200px)
    }
    
    .anim1_bottom:hover {
        transform: scale(1.5) translate(400px, -200px);
    }
    
    .anim2_bottom:hover {
        transform: scale(1.5) rotate(360deg) translate(0, -200px);
        height: 50vh;
    }
    
    .anim3_bottom:hover {
        transform: scale(1.5) translate(-400px, -200px)
    }

    .platfromers_art {
        background: rgb(56, 73, 33);
        width: 98%;
    }

    .platfromers_art:hover {
        background: rgb(140, 187, 78);
    }
}

@media (min-width: 1366px) {
    .art {
        width: 30%;
    }
}