@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Russo+One|Istok+Web');

html,body {
    margin:0;
    background: black;
    padding: 5px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main_text {
    font-weight: 900;
    color: white;
    text-align: center;
    font-family: 'russo one';
    font-size: 2.5rem;
    margin: 0 3px;
}

@keyframes rainbow {
    from {color: white;}
    12.5% {color: red;}
    25% {color: orange;}
    37.5% {color: yellow;}
    50% {color: green;}
    62.5% {color: aqua}
    75% {color: blue;}
    87.5% {color: purple;}
    to {color: black;}
}

.yes {
    animation: rainbow 6s ease-in-out infinite alternate;
}

.cry {
    width: 100%;
}

.answer_yes {
    text-decoration: none;
    color: green;
}

.answer_no {
    text-decoration: none;
    color: red;
}

.go_back {
    font-weight: 900;
    color: white;
    font-family: 'istok web';
    font-size: 1.2rem;
}

@media (min-width: 1024px) {
    .main_text {
        font-size: 6rem;
    }

    .cry {
        width: 50%;
        margin: auto;
    }
}